<%-include('header.ejs')%>

    <form>

        <ul>
            <li>Contact</li>
            <li>Name: 
                <input type="text" name="name" required>
            </li>
            <li>Phone: 
                <input type="text" name="phone" required>
            </li>
            <li>Email: 
                <input type="text" name="email" required>
            </li>
            <li>Message<br>
                <textarea name="memo" cols="50" rows="10"></textarea>
            </li>
        </ul>
    </form>
   

<%-include('footer.ejs')%>