<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to SuPie's Website</h1>

    <header style="border-bottom: 1px solid #aaa; margin-bottom: 10px; padding-bottom: 10px;">
        <nav>
            <a href="/">Home</a> |
            <a href="/profile">Profile</a> |
            <a href="/map">Map</a> |
            <a href="/contact">Contact</a> 
        </nav>
    </header>