<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome!</h1>

    <header>
        <nav>
            <a href="/">Home</a> |
            <a href="/profile">Profile</a> |
            <a href="/map">Map</a> |
            <a href="/contact">Contact</a> 
        </nav>
    </header>

    <p>This is Sujin's website</p>

    <footer>
        <hr>copyright SuPie all right reserved.
    </footer>
</body>
</html>